<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Thiết kế layout website</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">FITA - VNUA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="fita.edu.vn">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="fita.edu.vn/gioi-thieu">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="fita.edu.vn/dich-vu">Dịch vụ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="fita.edu.vn/lien-he">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Sản phẩm</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item">Cây cảnh</a>
                    <a href="#" class="list-group-item">Cây giống</a>
                    <a href="#" class="list-group-item">Đồ dùng</a>
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <!-- Slider -->
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid hinh-slider"
                                src="https://file.vnua.edu.vn/data/0/images/2023/02/23/host/be0d0e53-aa33-4893-adf7-c295d9cf7d2a.jpeg?dpi=150&quality=100&w=auto"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid hinh-slider"
                                src="https://file.vnua.edu.vn/data/0/images/2020/08/11/tiengviet/vnua-hoc-vien-nong-nghiep-viet-nam002-compressed-1.jpg?dpi=150&quality=100&w=auto"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid hinh-slider"
                                src="https://file.vnua.edu.vn/data/0/images/2020/08/11/tiengviet/vnua-hoc-vien-nong-nghiep-viet-nam003-compressed-1.jpg?dpi=150&quality=100&w=auto"
                                alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- ./ end slider -->

                <!-- Product List -->
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="assets/img/placeholder_700x400.png" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Sản phẩm 1</a>
                                </h4>
                                <h5>99.000 VNĐ</h5>
                                <p class="card-text">Giới thiệu về sản phẩm và các thông tin cần thiết cho người dùng
                                    đọc</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="assets/img/placeholder_700x400.png" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Sản phẩm 1</a>
                                </h4>
                                <h5>99.000 VNĐ</h5>
                                <p class="card-text">Giới thiệu về sản phẩm và các thông tin cần thiết cho người dùng
                                    đọc</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="assets/img/placeholder_700x400.png" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Sản phẩm 1</a>
                                </h4>
                                <h5>99.000 VNĐ</h5>
                                <p class="card-text">Giới thiệu về sản phẩm và các thông tin cần thiết cho người dùng
                                    đọc</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="assets/img/placeholder_700x400.png" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Sản phẩm 1</a>
                                </h4>
                                <h5>99.000 VNĐ</h5>
                                <p class="card-text">Giới thiệu về sản phẩm và các thông tin cần thiết cho người dùng
                                    đọc</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="assets/img/placeholder_700x400.png" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Sản phẩm 1</a>
                                </h4>
                                <h5>99.000 VNĐ</h5>
                                <p class="card-text">Giới thiệu về sản phẩm và các thông tin cần thiết cho người dùng
                                    đọc</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="assets/img/placeholder_700x400.png" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Sản phẩm 1</a>
                                </h4>
                                <h5>99.000 VNĐ</h5>
                                <p class="card-text">Giới thiệu về sản phẩm và các thông tin cần thiết cho người dùng
                                    đọc</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row Product List -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Bản quyền bởi &copy; <a href="fita.edu.vn">http://fita.vnua.edu.vn</a>
                &copy; 2012-2023</p>
        </div>
    </footer>
</body>

</html>
