@model IEnumerable<Models.CategoryModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Danh Sách Thể loại</title>
</head>

<body>
    <div class="container">

        <h1 class="text-center my-4">Danh sách thể loại</h1>
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-3">
                    <partial name="_CardCate" model="category" />
                </div>
            }
        </div>
    </div>


    @* <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="create">Product</a> *@
</body>

</html>
