/* Card css --------------------------------------------------------*/
.card {
    position: relative;
    transition: transform 0.2s;
    margin-bottom: 20px;
    /* Tăng khoảng cách giữa các thẻ */
    border: none;
    /* Xóa viền */
}


.card:hover {
    transform: scale(1.05);
}

.cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: none;
    transition: transform 0.2s;
}

.card:hover .cart-icon {
    display: block;
}

.cart-icon:hover {
    transform: scale(1.2);
}




.card-title {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
    overflow: hidden;
    /* Ẩn phần nội dung thừa */
    white-space: nowrap;
    /* Ngăn không cho xuống dòng */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm */
    max-width: 100%;

    /* Giới hạn chiều rộng */
}